extends layout

block content

  div#category-sidebar.col-lg-2
    each category, i in categories
      a(href="/category/#{category.name}" class=category.name === title ? "active":"")
        i.fa.fa-angle-right
        | #{category.name}

  h2#category-header #{title}
  div#landing-videos.col-lg-10
    each video, i in videos
      section
        a(href="/video/#{video._id}")     
          video(width="200px")
            source(src="#{video.url}")
        div.info-overlay      
          span #{video.title}
          
  
