extends layout

block content
  //- h1.text-xs-center.text-primary.py-3= title
  //- if user
  //-   p= user
  //-   img(src="#{user.profileImage}" width="200px" height=" 200px")
  div#landing-videos
    each video, i in videos
      section
        a(href="/video/#{video._id}")     
          video(width="200px")
            source(src="#{video.url}")
        div.info-overlay      
          span #{video.title}
          //- div Published: 
            //- span #{video.published_at.toDateString()}
      //- #{video}
