extends layout

block content
    //- Main video column
    div.col-lg-8.primary-video-col.mt-2
      div#featured
        video(controls width="100%")
          source(src="#{mainVideo.url}")
        
      div#videoBar.mt-2
        h3.my-2 #{mainVideo.title}
        a(href="#").user
          img(src="/#{mainVideo.publisher.profileImage}")    
        span.username #{mainVideo.publisher.username}
        hr
        div.text-xs-right
          a(href="/video/like/#{mainVideo._id}")
            i.fa.fa-thumbs-o-up
            span Likes: #{mainVideo.likes}
          i.fa.fa-eye
          span Views: #{mainVideo.views}
        
      //- Video Description
      div#videoBar2.mt-2
        strong
          p Published on 
            span #{mainVideo.published_at.toDateString().slice(3).replace(' 201', ', 201')}    
        p #{mainVideo.desc}
        hr
        p.text-xs-center 
          strong Show more
      
      
      //- Comments section
      div#commentsBar.my-2
        span.lead.pl-2 Comments - #{mainVideo.comments.length}
        hr
        //do some angular stuff for adding comments
        div.row
          form(method="post" action="/video/addcomment/#{mainVideo._id}")
            .form-group
              a(href="#").user
                if user
                  img(src="/#{user.profileImage}")  
                if !user
                  img(src="/uploads/default.jpg")  
              textarea(name="comment_body" placeholder="Add a public comment...")
            .form-group.float-xs-right.col-xs-12 
              button(type="submit").btn.btn-secondary.btn-sm Comment
              hr
              
            //- Display all comments
          each comment, i in mainVideo.comments.reverse()
            div.comment-container.py-2.px-1
              //- a(href="/#{comment}") profile page
              img(src="/#{comment.profileImage}")
              strong.mx-1
                span#comment-username #{comment.username}
              span #{comment.comment_date.toDateString().slice(3).replace(' 201', ', 201')}
            p.py-1.px-1 #{comment.comment_body}
              hr
          
      //- Public video column
    div.col-lg-4.secondary-video-col.mt-2
      each publicVideo, i in publicVideos
        if (publicVideo.url !== mainVideo.url)
          div.publicvideo-container
            a(href="/video/#{publicVideo._id}").video
              video(width="100px")
                source(src="#{publicVideo.url}")      
            div.px-1
              h5 #{publicVideo.title}
              p Views: #{publicVideo.views}
          hr  
