extends ../layout

block content
  .uploads.container
    h3.mt-3 Uploads
    table.table
      thead
        tr
          th Title
          th Category
          th Views
          th Likes
          th
          th
      tbody
        each video, i in videos
          tr
            td 
              a(href="/video/#{video._id}") #{video.title}
            td #{video.category}
            td #{video.views}
            td #{video.likes}
            td
              a(href="/videos/edit/#{video._id}").btn.text-success Edit
            td
              a(href="/videos/delete/#{video._id}").btn.text-danger Delete
  
